<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>426363309464-sv6vrvu5ouiqrh4aolu1i5ceelj51a74.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.426363309464-sv6vrvu5ouiqrh4aolu1i5ceelj51a74</string>
	<key>API_KEY</key>
	<string>AIzaSyCdBWJf_d5ui4woVOI9VuMw_W_G0EkTknM</string>
	<key>GCM_SENDER_ID</key>
	<string>426363309464</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>health.ai</string>
	<key>PROJECT_ID</key>
	<string>essai-cbfbb</string>
	<key>STORAGE_BUCKET</key>
	<string>essai-cbfbb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:426363309464:ios:7527a6ff517195b2b02fed</string>
</dict>
</plist>